<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/polo.css">
    <title>Painel de Administração - UNIFAA</title>
</head>

<body>
    <div class="container">
        <div class="barra-perfil">
            <div class="perfil">
                <img src="../Images/perfil.png" alt="Perfil">
            </div>
            <div class="texto-perfil">
                Aluno: Joao Vitor <br> RA: e3000b
            </div>
            <button class="sair">Sair
                <img src="../Images/exit_2.png" alt="Sair">
            </button>
        </div>

        <header>
            <h1>Painel de Administração - UNIFAA</h1>
        </header>

        <main>
            <form id="adminForm">
                <fieldset>
                    <legend><b>Alterar Local e Horário da Prova</b></legend>

                    <div class="inputGroup">
                        <label for="alunoID">ID do Aluno:</label>
                        <input type="text" id="alunoID" name="alunoID" required>
                        <button type="button" id="buscar">Buscar</button>
                    </div>

                    <div class="inputGroup">
                        <label for="local">Local da Prova:</label>
                        <select id="local" class="form-select">
                            <option value="Barra Do Piraí">Barra Do Piraí</option>
                            <option value="Barra Mansa">Barra Mansa</option>
                            <option value="Petropolis">Petropolis</option>
                            <option value="Valença">Valença</option>
                        </select>
                    </div>

                    <div class="inputGroup">
                        <label for="data">Data da Prova:</label>
                        <input type="date" id="data" name="data" required>
                    </div>

                    <div class="inputGroup">
                        <label for="sala">Local da Prova:</label>
                        <select id="sala" class="form-select">
                            <option value="SalaA">Sala A</option>
                            <option value="SalaB">Sala B</option>
                            <option value="SalaC">Sala C</option>
                        </select>
                    </div>

                    <div class="inputGroup">
                        <label for="vagas">Vagas Restantes:</label>
                        <input type="number" id="vagas" name="vagas" value="5" readonly>
                    </div>

                    <button type="submit" id="submit">Salvar Alterações</button>
                </fieldset>
            </form>
        </main>

        <footer>
            <p>&copy; 2024 UNIFAA. Todos os direitos reservados.</p>
        </footer>
    </div>

    <script src="./polo.js"></script>
    <script src="../public/js/logout.js"></script>
</body>

</html>